<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>

	<h2>Vista Index</h2>
	<label>IdUsuarioToken: </label> <p th:text="${IdUsuarioToken}" ></p>
	<label>IdUsuario: </label> <p th:text="${IdUsuario}" ></p>
	<label>Usuario: </label> <p th:text="${Usuario}" ></p>
	<label>RolUsuario: </label> <p th:text="${RolUsuario}" ></p>
	<label>SistemaOrigen: </label> <p th:text="${SistemaOrigen}" ></p>
	<label>TokenIngreso: </label> <p th:text="${TokenIngreso}" ></p>
	<label>TokenPeticion: </label> <p th:text="${TokenPeticion}" ></p>

</head>
<body>
	
</body>
</html>